### Libraries for the Project

In [2]:
import pandas as pd
import numpy as pd
import yfinance as yf

### DATA EXTRACTION FROM YAHOO FINANCE

1. CURRENCY DATASET

In [9]:
# Top Currencies
currency_pairs = {
    "EUR/USD": "EURUSD=X",
    "GBP/USD": "GBPUSD=X",
    "USD/JPY": "JPY=X",
    "AUD/JPY": "AUDJPY=X",
    "USD/CAD": "CAD=X"
}

# Period
start_date = "2014-01-01"
end_date = "2024-09-15"

all_data = pd.DataFrame()

# Downloading data for each currency pair and storing in the dataframe
for pair, ticker in currency_pairs.items():
    data = yf.download(ticker, start=start_date, end=end_date)
    # Renaming the 'Adj Close' column to the currency pair name for clarity purposes
    data = data[['Adj Close']].rename(columns={'Adj Close': pair})
    # Merging the data using date index (outer join)
    if all_data.empty:
        all_data = data
    else:
        all_data = all_data.join(data, how='outer')
all_data.reset_index(inplace=True)
all_data.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

        Date   EUR/USD   GBP/USD     USD/JPY    AUD/JPY  USD/CAD
0 2014-01-01  1.374495  1.656397  105.300003  93.769997  1.06193
1 2014-01-02  1.376671  1.658072  105.323997  93.619003  1.06445
2 2014-01-03  1.366662  1.644791  104.833000  93.350998  1.06691
3 2014-01-06  1.359601  1.641309  104.912003  94.041000  1.06305
4 2014-01-07  1.363196  1.641794  104.209999  93.425003  1.06609

2. MAJOR STOCK DATASET

In [14]:
#TOP TRADING STOCKS
top_stocks = ["AAPL", "MSFT", "AMZN", "GOOGL", "NVDA"]

# PERIOD
start_date = "2014-01-01"
end_date = "2024-09-15"

all_stock_data = pd.DataFrame()

# Downloading data for each major stock 
for stock in top_stocks:
    data = yf.download(stock, start=start_date, end=end_date)
    
    # Renaming the 'Adj Close' column to the stock name for clarity purposes
    data = data[['Adj Close']].rename(columns={'Adj Close': stock})
    
    # Merging the data using date index (outer join)
    if all_stock_data.empty:
        all_stock_data = data
    else:
        all_stock_data = all_stock_data.join(data, how='outer')

all_stock_data.reset_index(inplace=True)
all_stock_data.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

        Date       AAPL       MSFT       AMZN      GOOGL      NVDA
0 2014-01-02  17.253262  31.120745  19.898500  27.787050  0.373992
1 2014-01-03  16.874275  30.911366  19.822001  27.584349  0.369512
2 2014-01-06  16.966290  30.258135  19.681499  27.891895  0.374464
3 2014-01-07  16.844959  30.492628  19.901501  28.429604  0.380595
4 2014-01-08  16.951633  29.948259  20.096001  28.488768  0.385782

'c:\\Users\\Admin\\Documents\\Capstone_Project'